boto3==1.17.14
botocore==1.20.14
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
et-xmlfile==1.0.1
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
nodeenv==1.5.0
numpy==1.19.5
openpyxl==3.0.6
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
s3transfer==0.3.4
six==1.12
twilio==6.52.0
urllib3==1.26.3
Werkzeug==0.16.1
Flask-AutoIndex==0.6.4
Flask-Silk==0.2
future==0.17.1
isort==4.3.21
astroid==2.3.1
lazy-object-proxy==1.4.2
mccabe==0.6.1
pylint==2.4.2
typed-ast==1.4.0
wrapt==1.11.2
gunicorn==20.0.4