{% extends 'base.html' %}
{% block content %}
	<div class="container">
	<section class="section">
	
	<h1 class="title">
          Enter Video Information
	</h1>

	<hr>

	<div class="column is-8 is-offset-2">
	<h2>{{header}}</h2>

	<div class="box form-box">

	<form enctype="multipart/form-data" method="POST" action="/form_submit">
		<div class="field">
		<label class="label" for="sheetName">Excel Sheet: </label>
		<div class="control">
		<div class="select">
		<select  id="sheetName" name="sheetName">
			{% for sheet in sheets %}
				<option value="{{ sheet }}">{{ sheet }}</option>
			{% endfor %}
		</select>
		</div>
		</div>
		</div>

		<div class="field">
		<label class="label" for="lname">Row Number of First Slide:</label>
		<input class="input" type="number" id="s1" name="s1" value="" required>
		</div>

		<div class="field">
		<label for="lname" class="label">Row Number of Last Slide:</label>
		<input class="input" type="number" id="sl" name="sl" value="" required>
		</div>

<!--
		<div class="field">
		<label for="outro" class="label">Row Number of Outro (if applicable):</label>
		<input class="input" type="number" id="outro" name="outro" value="">
		</div>
-->

		<div class="field">
		<label for="lname" class="label">Video name:</label>
		<input class="input" type="text" id="name" name="name" value="" required>
		</div>

		<div class="field">
		<label class="checkbox">
		<input type="checkbox" id="story" name="story">
		Story	
		</label>
		</div>

		<label class="label" for="layout">
                Choose the Layout:
                </label>

                <label class="radio">
                <input type="radio" id="vert" name="layout" value="vert" checked="checked">
                Vertical
                </label>

                <label class="radio">
                <input type="radio" id="hori" name="layout" value="hori">
                Horizontal
                </label>

		<div class="field">
		<div class="control">
		<label class="label" for="Voice">
		Select the Voice:
		</label>
		
		<label class="radio">
		<input type="radio" id="male" name="voice" value="male" checked="checked" onclick="if(this.checked){no_upload()}">
  		Male
		</label>
  		
		<label class="radio">
		<input type="radio" id="female" name="voice" value="female" onclick="if(this.checked){no_upload()}">
  		Female
		</label>

		<label class="radio">
                <input type="radio" id="upload" name="voice" value="upload" onclick="if(this.checked){upload_own()}">
                Upload my own audio
                </label>

		</div>
		</div>

		<div class="field" style="display:none" id="upload_field">
		    <div class="file has-name" id="audio_div">
		      <label class="file-label">
		        <input class="file-input" type="file" name="audio" accept="audio/*">
		        <span class="file-cta">
		          <span class="file-icon">
		            <i class="fas fa-upload"></i>
		          </span>
		          <span class="file-label">
		            Choose a file…
		          </span>
		        </span>
		        <span class="file-name">
		          &nbsp;&nbsp;&nbsp;&nbsp;
		        </span>
		      </label>
		    </div>
		</div>
		
		<div class="field">
		<div class="control">
		<input class="button is-primary" type="submit" value="Submit">
		</div>
		</div>
	
	</form>
	</div>
</div>
<br><br>

<div class="container">
<section class="section">
<div class="tabs is-centered">
  <ul>
    <li onclick="settableURL()" id="excel_tab"><a>View Your Excel Sheet</a></li>
    <li onclick="setfileURL()" id="files_tab"><a>View Files</a></li>
  </ul>
</div>
</section>
</div>
<iframe id="iframe" src="" style="display:none" width="100%" height="500px"></iframe>
</section>
</div>

<script>

const fileInput = document.querySelector('#audio_div .file-label input[type=file]');
fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
	const fileName = document.querySelector('#audio_div .file-name');
	fileName.textContent = fileInput.files[0].name;
    }
}

</script>

{% endblock %}

{% block head %}
	{{ super() }}
	<script>

	  function settableURL(){
	    document.getElementById('iframe').src = "{{ url_for('handson', tmp=tmp) }}";
	    document.getElementById('iframe').style.display = "block";
	    document.getElementById('excel_tab').classList.add("is-active")
	    document.getElementById('files_tab').classList.remove("is-active")
	  }
	  function setfileURL(){
	    document.getElementById('iframe').src = "{{ url_for('show_files', preview='true') }}";
	    document.getElementById('iframe').style.display = "block";
	    document.getElementById('files_tab').classList.add("is-active")
            document.getElementById('excel_tab').classList.remove("is-active")
	  }
	
	  function upload_own(){
	    document.getElementById('upload_field').style.display = "block";
	  }

	  function no_upload(){
	    document.getElementById('upload_field').style.display = "none";
	  }

	</script>
	
{% endblock %}
