<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>{{header}}</h2>
	<form enctype="multipart/form-data" method="POST" action="/form_submit">

		<label for="sheetName">Excel Sheet: </label>
		<select id="sheetName" name="sheetName">
			{% for sheet in sheets %}
				<option value="{{ sheet }}">{{ sheet }}</option>
			{% endfor %}
		</select>
		<br><br>

		<label for="lname">First slide:</label><br>
		<input type="number" id="s1" name="s1" value=""><br><br>

		<label for="lname">Last slide:</label><br>
		<input type="number" id="sl" name="sl" value=""><br><br>

		<label for="lname">Video name:</label><br>
		<input type="text" id="name" name="name" value=""><br><br>

		<input type="checkbox" id="story" name="story">
		<label for="story"> Story</label><br><br>

		<input type="submit" value="Submit">
	</form>
</body>
</html>