{% extends 'base.html' %}
{% block content %}
	<h2>{{header}}</h2>
	<form enctype="multipart/form-data" method="POST" action="/form_submit">

		<label for="sheetName">Excel Sheet: </label>
		<select id="sheetName" name="sheetName">
			{% for sheet in sheets %}
				<option value="{{ sheet }}">{{ sheet }}</option>
			{% endfor %}
		</select>
		<br><br>

		<label for="lname">Row Number of First Slide:</label><br>
		<input type="number" id="s1" name="s1" value="" required><br><br>

		<label for="lname">Row Number of Last Slide:</label><br>
		<input type="number" id="sl" name="sl" value="" required><br><br>

		<label for="lname">Video name:</label><br>
		<input type="text" id="name" name="name" value="" required><br><br>

		<input type="checkbox" id="story" name="story">
		<label for="story"> Story</label><br><br>
		
		Select the Voice: <br>
		<input type="radio" id="male" name="gender" value="male" checked="checked">
  		<label for="male">Male</label><br>
  		<input type="radio" id="female" name="gender" value="female">
  		<label for="female">Female</label><br><br>
		
		<input type="submit" value="Submit">
	</form>

<br><br>
<button onclick="settableURL()">View Table</button>
<button onclick="setfileURL()">View Files</button>
<iframe id="iframe" src="" style="display:none" width="100%" height="500px"></iframe>

{% endblock %}

{% block head %}
	{{ super() }}
	<script>
	  function settableURL(){
	    document.getElementById('iframe').src = "{{ url_for('handson', tmp=tmp) }}";
	    document.getElementById('iframe').style.display = "block";
	  }
	  function setfileURL(){
	    document.getElementById('iframe').src = "{{ url_for('autoindex', preview='true') }}";
	    document.getElementById('iframe').style.display = "block";
	  }
	</script>
{% endblock %}
