{% extends 'base.html' %}
{% block head %}
	{{ super() }}
	<title>Submitted</title>
{% endblock %}
{% block content %}
	<p>A video is being made with the following details:</p>
	<ul>
		<li>File name: {{fname}}</li>
		<li>Sheet name: {{sname}}</li>
		<li>First page row: {{fslide}}</li>
		<li>Last page row: {{lslide}}</li>
		<li>Video name: {{vname}}</li>
		<li>Story: {{story}}</li>
		<li>Voice: {{voice}}</li>
	</ul>
<p>The videos will show up shortly on the following page for you to view and download:</p>
<button type="button" onclick="window.location.href='/files'">Download page</button>
<p>You can view the status of your video on the following page:</p>
<button type="button" onclick="window.location.href='/status'">Status page</button>
{% endblock %}
