{% extends 'base.html' %}
{% block content %}

	<div class="container">
	<section class="section">

	<h1 class="title">
	      Menu Page
	</h1>

	<hr>
	
	<div class="column is-8 is-offset-2">	
	<div class="box form-box">
	<div class="is-justify-content-center is-align-items-center is-flex-direction-column is-flex">
	
	<button class="button is-primary is-medium" style="margin:10px" type="button" onclick="window.location.href='/new'">Upload Page</button>
	<button class="button is-primary is-medium" style="margin:10px" type="button" onclick="window.location.href='/files'">Download Page</button>
	<button class="button is-primary is-medium" style="margin:10px" type="button" onclick="window.location.href='/status'">Status Page</button>

	</div>
	</div>
	</div>
	</section>
	</div>

{% endblock %}


